* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    z-index: -1;
}
.main-header {
    height: 1000px;
    background-image: url(images/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.container {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
    width: 1135px;
    margin: 0 auto;
}
.header__info {
    width: 466px;
    padding: 50px 0 50px 0;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 72%;
}
.header-logo {
    display: flex;
    align-items: center;
    font-family: "Mitr", sans-serif;
    color: #2e8cad;
}
.logo__title {
    font-family: "Mitr", sans-serif;
    margin-left: 20px;
    color: #2e8cad;
    font-weight: 600;
    font-size: 48px;
    line-height: 40px;
}
.logo__subtitle {
    font-family: "Mitr", sans-serif;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 5px;
}
.header-services {
    margin: 80px 0 0 0;
}
.header-services__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 500px;
}
h1 {
    font-family: "Mitr", sans-serif;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 80px;
    color: #2e8cad;
}
.header-services-nav__item {
    margin: 20px 0px;
    display: flex;
    width: max-content;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #2e8cad;
}
.btn {
    position: relative;
    width: 160px;
    height: 50px;
    background-color: #2ebaeb;
    border: 2px #2ebaeb solid;
    border-radius: 40px;
    cursor: pointer;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -7px;
    right: -7px;
    border-radius: 40px;
    border-bottom: 2px solid #2ebaeb;
    border-right: 2px solid #2ebaeb;
    transition: all 0.5s;
}
.btn:hover::before {
    transform: translate(-6px, -6px);
    transition: all 0.5s;
}
.btn:hover {
    background-color: #ffffff;
    color: #2ebaeb;
    transition: all 0.5s;
}
.container-contactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 480px;
    padding: 50px 0 50px 0;
    border-radius: 30px;
}
.contactUs-title {
    font-family: "Mitr", sans-serif;
    color: #2e8cad;
    font-weight: 600;
    font-size: 48px;
    line-height: 40px;
}
.contact-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    height: 300px;
    margin: 30px 0 0 0;
}
.contact-nav__item {
    text-decoration: none;
    color: #ffffff;
    background-color: #94d3ea;
    width: 374px;
    height: 56px;
    border-radius: 61px;
    text-align: center;
    line-height: 56px;
}
.what-is-this {
    text-decoration: none;
    color: #94d3ea;
    background-color: #ffffff;
    width: 168px;
    height: 56px;
    border: 3px solid #94d3ea;
    border-radius: 61px;
    text-align: center;
    line-height: 56px;
}
.main-container {
    width: 100%;
}
.main-aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;
    background-color: #ffffff;
}
h2 {
    font-family: "Mitr", sans-serif;
    color: #2e8cad;
    font-weight: 600;
    font-size: 48px;
    line-height: 40px;
}
.aboutUs-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 0;
}
.aboutUs-content__item {
    padding: 20px;
    width: 330px;
    height: 104px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4f4f4f;
}
.numbers {
    width: 24px;
    height: 24px;
    border: 1px solid #2e8cad;
    color: #2e8cad;
    border-radius: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;
    background-color: #f2f2f2;
}
.services-content {
    display: flex;
    justify-content: space-between;
    width: 1221px;
    height: 504px;
    margin: 50px auto;
}
.services-content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 385px;
    background: #ffffff;
    border-radius: 30px;
}
.services-content__img {
    width: 100%;
}
.services-content__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 20px 20px 20px;
}
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0 10px 10px;
}
.main-testymonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;
    background-color: #95d4eb;
}
h4 {
    font-family: "Mitr", sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 48px;
    line-height: 40px;
}
.testymonials-content {
    width: 1200px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    margin: 50px auto;
}
.testymonials-content__item {
    width: 555px;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 20px 0 20px 20px;
}
.testymonials-content__user {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
}
.img__avatar {
    width: 80px;
    height: 80px;
}
.testymonials-content__text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-left: 14px;
    width: 500px;
}
.img__stars {
    margin-top: 11px;
}
h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #50b2ea;
    margin: 0 0 0 15px;
}
.footer-container {
    max-width: 1270px;
    margin: auto;
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.main-footer {
    background-color: #47626b;
    padding: 70px 0;
}
.footer-col {
    box-sizing: border-box;
    width: 25%;
    padding: 0 15px;
}
.footer-col p {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0;
    width: 80%;
}
.footer-col h4 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #2ebaeb;
    height: 2px;
    width: 50px;
}
.footer-col__info ul li {
    margin-bottom: 10px;
}
.footer-col__info li a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #2ebaeb;
    padding-left: 8px;
}
.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media (max-width: 1620px) {
    .bg {
        width: 1100px;
    }
}

@media (max-width: 1275px) {
    .main-services {
        height: 1650px;
    }
    .services-content {
        flex-direction: column;
        align-items: center;
        height: 1550px;
        width: 0%;
    }
    .testymonials-content {
        flex-wrap: nowrap;
        flex-direction: column;
        height: 1100px;
        width: 100%;
    }
}

/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
    .main-header {
        height: 1250px;
        background-image: none;
    }
    .bg {
        display: none;
    }
    .container {
        height: 1150px;
        width: 100%;
        flex-direction: column;
        align-items: normal;
    }
    .header__info {
        width: 100%;
        background-image: url(images/bg-header.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-logo {
        padding: 0 0 0 15px;
    }
    .header-services {
        padding: 0 0 0 30px;
    }
    .container-contactUs {
        position: relative;
        width: 100%;
        border-radius: 0;
        background-color: #f2f2f2;
    }
    .aboutUs-content {
        grid-template-columns: 1fr 1fr;
    }
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
    .aboutUs-content {
        grid-template-columns: 1fr;
    }
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 600px) {
    .testymonials-content__item {
        width: 535px;
    }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
    .logo__title {
        font-size: 34px;
    }
    .logo__subtitle {
        font-size: 14px;
    }
    .header-services {
        margin: 60px 0 0 0;
    }
    .header-services__text {
        font-size: 14px;
        width: 260px;
    }
    h1 {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 10px;
    }
    .contact-nav__item {
        width: 280px;
    }
    .aboutUs-content__item {
        width: 280px;
    }
    .main-services {
        height: 1550px;
    }
    .services-content__item {
        width: 300px;
    }
    .services-content__text {
        width: 280px;
    }
    h4 {
        font-size: 40px;
    }
    .testymonials-content {
        height: 1350px;
    }
    .testymonials-content__item {
        width: 280px;
        height: 290px;
    }
    .img__avatar {
        width: 60px;
        height: 60px;
        margin: 10px 0 0 10px;
    }
    h5 {
        margin: 15px 0 13px 6px;
    }
    .testymonials-content__text {
        width: 250px;
    }
    .footer-col {
        width: 100%;
    }
}
